<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/DarkStyle.css" />
    <title>@ViewBag.title</title>
    <script src="~/Content/JQuery.js"></script>
    <script>
        $(function () {
            if ($.browser.msie && $.browser.version.substr(0, 1) < 7) {
                $('li').has('ul').mouseover(function () {
                    $(this).children('ul').css('visibility', 'visible');
                }).mouseout(function () {
                    $(this).children('ul').css('visibility', 'hidden');
                });
            }
        });
    </script>
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <div id="logo"></div>
            <div id="headerend"></div>
        </div>
        <div id="content">
            @RenderBody()

        </div>
        <div>
            <ul id="nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>
                    @Html.ActionLink("Profile", "Index", "Profile")
                    <ul>
                        <li class="">@Html.ActionLink("Gallery", "Gallery", "Profile")</li>
                    </ul>
                </li>


            </ul>
        </div>
 
        <div id="footer">
            <div id="owner">
                <center>Site Created by: Jonathan Jensen</center>
            </div>
        </div>



    </div>

</body>

</html>
